<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (C) 2016 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.miwok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Learn Français"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NumbersActivity"
            android:label="Numéros" />
        <activity
            android:name=".PhrasesActivity"
            android:label="Phrases" />
        <activity
            android:name=".ColorsActivity"
            android:label="Couleurs" />
        <activity
            android:name=".FamilyActivity"
            android:label="Famille" />
        <activity
            android:name=".WeeksActivity"
            android:label="Semaines" />
        <activity
            android:name=".MonthsActivity"
            android:label="Mois" />
        <activity android:name=".Googlesignin" />
        <activity android:name=".Quiz" />
        <activity
            android:name=".Facts"
            android:label="FACTS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LanguageChooser"
            android:label="Select Language" />
        <activity
            android:name=".MainActivitySpanish"
            android:label="Learn Español" />
        <activity
            android:name=".MainActivityGerman"
            android:label="Deutsch lernen" />
        <activity
            android:name=".SelectionSpanish"
            android:label="Learn Español" />
        <activity
            android:name=".FactsSpanish"
            android:label="Learn Español" />
        <activity
            android:name=".QuizSpanish"
            android:label="Learn Español" />
        <activity
            android:name=".ColorsActivity2"
            android:label="Colores" />
        <activity
            android:name=".NumbersActivity2"
            android:label="Números" />
        <activity
            android:name=".FamilyActivity2"
            android:label="Miembros de la familia" />
        <activity
            android:name=".PhrasesActivity2"
            android:label="Frases" />
        <activity
            android:name=".WeeksActivity2"
            android:label="Semanas" />
        <activity
            android:name=".MonthsActivity2"
            android:label="Meses" />
        <activity
            android:name=".NavigationDrawer"
            android:label="F.L." />
        <activity android:name=".GoogleLogout" />
        <activity android:name=".Books" />
        <activity
            android:name=".ColorsActivity3"
            android:label="Deutsch lernen" />
        <activity
            android:name=".NumbersActivity3"
            android:label="Deutsch lernen" />
        <activity
            android:name=".FamilyActivity3"
            android:label="Deutsch lernen" />
        <activity
            android:name=".PhrasesActivity3"
            android:label="Deutsch lernen" />
        <activity
            android:name=".WeeksActivity3"
            android:label="Deutsch lernen" />
        <activity
            android:name=".MonthsActivity3"
            android:label="Deutsch lernen" />
        <activity
            android:name=".SelectionGerman"
            android:label="Deutsch lernen" />
        <activity android:name=".SelectionFrench" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".BooksSpanish"
            android:label="Learn Español" />
        <activity
            android:name=".FactsGerman"
            android:label="Deutsch lernen" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".LoginQuiz" />
        <activity android:name=".HomeFrenchQuiz" />
        <activity android:name=".AnimSpashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".AppIntro1" />
        <activity android:name=".Translate" />
        <activity android:name=".Conjugate" />
        <activity android:name=".FrenchFacts" />
        <activity android:name=".FrenchConjugations.Avoir" />
        <activity android:name=".FrenchConjugations.Finir" />
        <activity android:name=".FrenchConjugations.Etre" />
        <activity android:name=".FrenchConjugations.Aller" />
        <activity android:name=".FrenchConjugations.Lire" />
        <activity android:name=".FrenchConjugations.Parler"></activity>
    </application>

</manifest>